<!DOCTYPE html>
<html lang="en">
<head>
  <title>网站威胁分析</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="../static/css/diy.css">
  <link rel="stylesheet" href="../static/css/fontdiy.css">
  <link rel="stylesheet" href="../static/css/sidebar-menu.css">
    <link rel="stylesheet" type="text/css" href="../static/css/layout.css" />
    <link rel="stylesheet" href="../static/css/compiled/index.css" type="text/css" media="screen" />
<!-- <script src="js/jquery.min.js"></script> -->
      <script type="text/javascript" src="../static/js/echarts.min.js"></script>
  <script src="../static/js/jquery-1.12.4.js"></script>
  <script src="../static/js/jquery1.dataTables.min.js"></script>
  <link rel="stylesheet" href="../static/css/jquery.dataTables.min.css">
  <script src="../static/js/bootstrap.min.js"></script>
<!-- <script type="text/javascript" src="./jquery-1.11.0.min.js"></script> -->
<script src="../static/js/sidebar-menu.js"></script>
 <script type="text/javascript" src="../static/js/sss.js"></script>

  <title>Document</title>
</head>
<body>
<!-- <script type="text/javascript">
$(document).ready(function() {
  $('#example').DataTable( {
      "ajax": 'as.txt'
  } );
} );
</script> -->
<div class="navbar navbar-inverse">
    <div class="navbar-inner">


        <a class="brand" href="#"><img style="width:50px;height:50px" src="static/images/qq.jpg" /></a>
    </div>
</div>
<!-- main container -->
  <div class="content">

      <div class="container-fluid">
        <div id="pad-wrapper">

          <!-- statistics chart built with jQuery Flot -->
          <div class="row-fluid chart">
    <div id="main1" style="width: auto;height:250px;"></div>
               <!--<script type="text/javascript" src="../static/js/content/echart22.js"></script>-->
			    <script>
    $.ajax({
      url:'/first',
      type:'get',
      dataType:'json',
      success:function(data){
        var myChart = echarts.init(document.getElementById('main1'));
        option = {
      title: {
          text: '攻击趋势'
      },
      tooltip: {
          trigger: 'axis'
      },
      legend: {
          data:['攻击总量']
      },
      grid: {
          left: '3%',
          right: '4%',
          bottom: '3%',
          containLabel: true
      },
      toolbox: {
          feature: {
              saveAsImage: {}
          }
      },
      xAxis: {
          type: 'category',
          data: ['17/08/22 00:00', '17/08/22 03:00', '17/08/22 06:00', '17/08/22 09:00', '17/08/22 12:00', '17/08/22 15:00', '17/08/22 18:00','17/08/23 21:00']
      },
      yAxis: {
          type: 'value'
      },
      series: [
          {
              name:'攻击总量',
              type:'line',
              step: 'start',
              data:data
          }
      ]
  };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);

      }
    })
  </script>
          </div>

          <!-- end statistics chart -->

          <!-- UI Elements section -->
          <div class="row-fluid section ui-elements">
              <h4>服务器攻击次数及攻击类型</h4>
              <div class="span5 knobs">
                <div id="main" style="width: auto;height:250px;"></div>
                          <!-- <script type="text/javascript" src="../static/js/content/echart11.js"></script> -->
                          <script>
                          var dataBJ = [

                          [4,5,"12.1.4.6"]
                          ];
                          var schema = [
                              {name: 'IP', index: 0, text: 'IPN'},
                              {name: 'IP', index: 2, text: 'IP地址'},
                              {name: 'numbers', index: 1, text: '遭击次数'}

                          ];


                          var itemStyle = {
                              normal: {
                                  opacity: 0.8,
                                  shadowBlur: 10,
                                  shadowOffsetX: 0,
                                  shadowOffsetY: 0,
                                  shadowColor: 'rgba(0, 0, 0, 0.5)'
                              }
                          };
                            // 基于准备好的dom，初始化echarts实例
                            $.ajax({
                              url:'/second',
                              type:'get',
                              dataType:'json',
                              success:function(data){
                              var myChart = echarts.init(document.getElementById('main'));
                              option =  {
                          backgroundColor: '#404a59',
                          color: [
                              '#FF3333'
                          ],

                          grid: {
                              x: '15',
                              x2: '15',
                              y: '15',
                              y2: '15'
                          },

                          tooltip: {
                              padding: 10,
                              backgroundColor: '#222',
                              borderColor: '#777',
                              borderWidth: 0,
                              formatter: function (obj) {
                                  var value = obj.value;
                                  return '<div style="border-bottom: 1px solid rgba(255,255,255,.3); font-size: 18px;padding-bottom: 7px;margin-bottom: 7px">'
                                      + obj.seriesName
                                      + '</div>'
                                      + schema[2].text + '：' + value[2] + '<br>'
                                      + schema[1].text + '：' + value[1] + '<br>';
                              }
                          },
                          xAxis: {
                              type: 'value',
                              name: '日期',
                              nameGap: 16,
                              show: false,
                              nameTextStyle: {
                                  color: '#fff',
                                  fontSize: 14
                              },
                              max: 50,
                              splitLine: {
                                  show: false
                              },
                              axisLine: {
                                  lineStyle: {
                                      color: '#eee'
                                  }
                              }
                          },
                          yAxis: {
                              type: 'value',
                              name: 'AQI指数',
                              nameLocation: 'end',
                              nameGap: 20,
                              show: false,
                              nameTextStyle: {
                                  color: '#fff',
                                  fontSize: 16
                              },
                              axisLine: {
                                  lineStyle: {
                                      color: '#eee'
                                  }
                              },
                              splitLine: {
                                  show: false
                              }
                          },
                          visualMap: [
                              {
                                  left: 'right',
                                  top: '10%',
                                  dimension: 1,
                                  min: 0,
                                  max: 500,
                                  itemWidth: 30,
                                  itemHeight: 120,
                                  calculable: true,
                                  precision: 0.1,
                                  text: ['攻击次数'],
                                  textGap: 30,
                                  textStyle: {
                                      color: '#fff'
                                  },
                                  inRange: {
                                      symbolSize: [20, 100]
                                  },
                                  outOfRange: {
                                      symbolSize: [20, 100],
                                      color: ['rgba(255,255,255,.2)']
                                  },
                                  controller: {
                                      inRange: {
                                          color: ['#c23531']
                                      },
                                      outOfRange: {
                                          color: ['#444']
                                      }
                                  }
                              },
                          ],
                          series: [
                              {
                                  type: 'scatter',
                                  itemStyle: itemStyle,
                                  data:data
                              },
                          ]
                      };

                          // 使用刚指定的配置项和数据显示图表。
                                myChart.setOption(option);
                            }
                            })
          </script>
              </div>

              <div class="span6 showcase">

                    <div id="main2" style="width: auto;height:250px;"></div>
                <script>
                  // 基于准备好的dom，初始化echarts实例
                  $.ajax({
                    url:'/third',
                    type:'get',
                    dataType:'json',
                    success:function(data){
                    var myChart = echarts.init(document.getElementById('main2'));
                    option = {
                      color: ['#3398DB'],
                      tooltip : {
                        trigger: 'axis',
                        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                          type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                        }
                      },
                      grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                      },
                      xAxis : [
                        {
                          type : 'category',
                          data : ['SQL注入', '一句话木马', '越权访问', 'XSS攻击', 'st2', '文件包含', '弱口令'],
                          axisTick: {
                            alignWithLabel: true
                          }
                        }
                      ],
                      yAxis : [
                        {
                          type : 'value'
                        }
                      ],
                      series : [
                        {
                          name:'执行次数',
                          type:'bar',
                          barWidth: '60%',
                          data:data
                        }
                      ]
                    };
                // 使用刚指定的配置项和数据显示图表。
                      myChart.setOption(option);
                  }
                  })
</script>
              </div>
          </div>
          <!-- end UI elements section -->

          <!-- table sample -->
          <!-- the script for the toggle all checkboxes from header is located in js/theme.js -->
          <div class="table-products section">



<div class="col-md-4">
    <div class="list-group wizard-menu">
      <section style="width: 400px">
      <ul class="sidebar-menu">
        <li class="sidebar-header">攻击事件详情</li>
        <li class="active">
          <a href="#">
            <i class="fa fa-dashboard list-group-item-heading "> <span class="fontdiy">网站应用攻击</span> </i>
          </a>
          <ul class="sidebar-submenu ">
            <li ><a href="#" class="fa fa-circle-o  step-1-menu" data-for=".step-1">
                <p class="list-group-item-text fontdiy">SQL注入攻击</p>
            </a></li>
            <li><a href="#" class="fa fa-circle-o  step-1-menu" data-for=".step-2">
                <p class="list-group-item-text fontdiy">失效的身份认证和会话管理</p>
            </a></li>
            <li><a href="#" class="fa fa-circle-o  step-1-menu" data-for=".step-1">
                <p class="list-group-item-text fontdiy">跨站请求伪造（CSRF）</p>
            </a></li>
            <li><a href="#" class="fa fa-circle-o  step-1-menu" data-for=".step-1">
                <p class="list-group-item-text fontdiy">缺少功能级访问控制</p>
            </a></li>
            <li><a href="#" class="fa fa-circle-o  step-1-menu" data-for=".step-1">
                <p class="list-group-item-text fontdiy">敏感信息泄漏</p>
            </a></li>
            <li><a href="#" class="fa fa-circle-o  step-1-menu" data-for=".step-1">
                <p class="list-group-item-text fontdiy">安全配置错误</p>
            </a></li>
            <li><a href="#" class="fa fa-circle-o  step-1-menu" data-for=".step-1">
                <p class="list-group-item-text fontdiy">直接引用不安全的对象</p>
            </a></li>
            <li><a href="#" class="fa fa-circle-o  step-1-menu" data-for=".step-1">
                <p class="list-group-item-text fontdiy">使用含有已知漏洞的组件</p>
            </a></li>
          </ul>
        </li>

      <li>
        <a href="#">
          <i class="fa fa-pie-chart"></i>
          <span>Charts</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="sidebar-submenu">
          <li><a href="#" class="fa fa-circle-o  step-1-menu" data-for=".step-1">
              <p class="list-group-item-text fontdiy">敏感信息泄漏</p>
          </a></li>
          <li><a href="#" class="fa fa-circle-o  step-1-menu" data-for=".step-1">
              <p class="list-group-item-text">安全配置错误</p>
          </a></li>
          <li><a href="#" class="fa fa-circle-o  step-1-menu" data-for=".step-1">
              <p class="list-group-item-text">直接引用不安全的对象</p>
          </a></li>
          <li><a href="#" class="fa fa-circle-o  step-1-menu" data-for=".step-1">
              <p class="list-group-item-text">使用含有已知漏洞的组件</p>
          </a></li>
          <a href="#" class="fa fa-circle-o step-3-menu" data-for=".step-3">
              <h4 class="list-group-item-heading">3. AJAX Load</h4>
              <!-- <p class="list-group-item-text">AJAX-load your data. (Attribute: data-load)</p> -->
          </a>
        </ul>
      </li>
        </ul>

    </div>
</div>
<div class="col-md-8">
<!--                Carrega o item selecionado-->
      <!-- <div class="btn-group">
<button class="btn btn-default" type="button" style="width:auto">首页</button>
<button class="btn btn-default" type="button" style="width:auto">Java Web开发</button>
<button class="btn btn-default" type="button" style="width:auto">PHP开发</button>
<button class="btn btn-default" type="button" style="width:auto">大数据</button>
<button class="btn btn-default" type="button" style="width:auto">首页</button>
<button class="btn btn-default" type="button">Java Web开发</button>
<button class="btn btn-default" type="button">PHP开发</button>
<button class="btn btn-default" type="button">大数据</button>
<button class="btn btn-default" type="button">大数据</button>
</div>
-->
    <div class="well wizard-content">
    <h4 style="color:red;">请从左侧选择需要查看的攻击事件类型</h4>
    <table id="example" class="display1" cellspacing="0" width="100%">
          <thead>
              <tr>
                  <th>攻击事件</th>
                  <th>最近攻击时间</th>
                  <th>被攻击应用ip</th>
                  <th>攻击者ip</th>
                  <th>风险等级</th>
                  <th>攻击特征</th>
              </tr>
          </thead>
          <tfoot>
              <tr>
                  <th>攻击事件</th>
                  <th>最近攻击时间</th>
                  <th>被攻击应用ip</th>
                  <th>攻击者ip</th>
                  <th>风险等级</th>
                  <th>攻击特征</th>
              </tr>
          </tfoot>
      </table>
      </div>
<!--                Content to load-->
    <div class="hide">
        <div class="step-1" data-load="static/data/ad.json">请重新加载</div>
        <div class="step-2" data-load="static/data/ad.json">请重新加载</div>
        <div class="step-3" data-load='ad.txt'>请重新加载</div>
    </div>
</div>
</section>
<script>
  $.sidebarMenu($('.sidebar-menu'))
</script>
          </div>
          <!-- end table sample -->
      </div>
  </div>
</div>
</body>
</html>
